<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="webhook-detail warning-block" ng-if="blade.isBadData">
                <i class="fas fa-exclamation-triangle triangle-warning-icon mr-10"></i> <span class="warning-text">{{ 'webhooks.blades.webhook-detail.labels.warning' | translate}}</span>
            </div>
            <div class="webhook-detail description-text">{{'webhooks.blades.webhook-detail.discription.webhook' | translate }}</div>

            <form name="detailForm" class="form">
                <fieldset ng-init="setForm(detailForm)">

                    <div class="form-group __info list">
                        <label class="form-label">{{ 'webhooks.blades.webhook-detail.labels.name' | translate }}</label>
                        <div class="form-input">
                            <input focus-on="" required class="form-control" ng-model="blade.currentEntity.name" ng-disabled="blade.isBadData" placeholder="{{'webhooks.blades.webhook-detail.placeholders.name' | translate}}" />
                        </div>
                        <div class="list-descr">{{ 'webhooks.blades.webhook-detail.discription.name' | translate }}</div>
                    </div>

                    <div class="form-group ">
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{ 'webhooks.blades.webhook-detail.labels.event' | translate }}</label>
                                <div class="form-input">
                                    <ui-select ng-model="blade.subscribedEvent" ng-disabled="blade.isBadData">
                                        <ui-select-match placeholder="{{ 'webhooks.blades.webhook-detail.placeholders.event' | translate }}">{{ $select.selected.eventId ? (('webhooks.events.types.' + $select.selected.eventId) | translate) : undefined}}</ui-select-match>
                                        <ui-select-choices repeat="x in blade.availableEvents | filter: $select.search">
                                            <span ng-bind-html="('webhooks.events.types.'+ x.eventId) | translate | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="list-descr">{{ 'webhooks.blades.webhook-detail.discription.event' | translate }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{ 'webhooks.blades.webhook-detail.labels.additional-fields' | translate: {fields_count: blade.currentEntity.payloads.length} }}</label>
                                <div class="form-input">
                                    <ui-select multiple ng-model="blade.currentEntity.payloads" on-select="reducePayload()" ng-disabled="isNoChoices || blade.isBadData">
                                        <ui-select-match>{{$item.eventPropertyName}}</ui-select-match>
                                        <ui-select-choices repeat="x in blade.availablePayloadProperties | filter: $select.search" ng-disabled="blade.isBadData">
                                            <span ng-bind-html="x.eventPropertyName | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="list-descr">{{ 'webhooks.blades.webhook-detail.discription.specify-payload' | translate }}</div>
                                <div class="list-descr"><strong>{{ 'webhooks.blades.webhook-detail.discription.specify-payload-note' | translate }}</strong>: {{ 'webhooks.blades.webhook-detail.discription.specify-payload-note-content' | translate }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="column">
                            <label class="form-label">{{ 'webhooks.blades.webhook-detail.labels.is-active' | translate }}</label>
                            <div class="form-input">
                                <label class="form-label __switch">
                                    <input type="checkbox" ng-model="blade.currentEntity.isActive" ng-disabled="blade.isBadData"/>
                                    <span class="switch" ng-disabled="blade.isBadData"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{ 'webhooks.blades.webhook-detail.labels.url' | translate }}</label>
                                <div class="form-input">
                                    <input ng-class="{'error': detailForm.url.$invalid && !detailForm.url.$pristine}" required class="form-control" ng-model="blade.currentEntity.url" name="url" ng-disabled="blade.isBadData" />
                                </div>
                                <div class="list-descr">{{ 'webhooks.blades.webhook-detail.discription.url' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <va-widget-container group="webhookDetail" blade="blade" data="blade.currentEntity" gridster-opts="{columns: 4}"></va-widget-container>
        </div>
    </div>
</div>
